/* fonts */

dd, dt {
    font-family: 'Economica', sans-serif;
}


/*
    kilde liste formatering
*/
.kilder li {
    list-style-type: none;
}


/*
    Wiki CSS - formating the Definition List
*/

#wiki {
    float: right;
    width: 450px;
}

.wiki dl {
    
    padding: 0.5em;
}

.wiki dt {
    float: left;
    clear: left;
    width: 160px;
    text-align: right;
    font-weight: bold;
    color: green;
}

.wiki dt:after {
    content: ": ";
}

.wiki dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
}

