/*

    Top Banner logo section
*/

.logo {
    background: url("../img/header-bkg.jpg") repeat fixed center;
}

/*
	Font type og størrelse
*/

h1 			{
			font-family: 'Economica', sans-serif;
			font-size: 200%;
			padding: 0px;
			margin: 0;
			}
h2  		{
			font-family: 'Economica', sans-serif;
			}
h3			{
			font-family: 'Economica', sans-serif;
			}
h4			{
			font-family: 'Economica', sans-serif;
			}			
p			{
			font-family: 'Cutive Mono', sans-serif;
			}
ul			{
			font-family: 'Cutive Mono', cursive;
			}


/*
    Centering banner logo
*/

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/*
    Nav section
*/

.nav {
    background: url("../img/header-bkg.jpg") repeat fixed center;
}

.nav {
    text-align: center;
}

.nav ul {
    margin: 1, 5em;
    display: inline-table;
}

.nav ul li {
    margin: 5px;
    display: inline;
}


/*
    Makes the links in the nav look like buttons
*/

.nav ul li a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px white;
    background: white;
    color: black;
    padding: 8px 12px;
    text-decoration: none;
}


/*
    CSS for sticky navbar
*/

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}

/*.parallax{
   // width: 100%;
    //height: 200px;
    //background-color: azure;
}*/

.container {
    margin: auto;
    width: 60%;
}


/*
    Footer section
*/

footer {
    margin: auto;
    width: 70%;
    padding: 2px;
    text-align: center;
    margin-top: 0;

}


/*
    kilde liste formatering
*/
.kilder li {
    list-style-type: none;
}


/*
    Wiki CSS - formating the Definition List
*/
#wiki {  
    float: right;
    width: 450px;   
}

.wiki dl {
    border: 3px double #ccc;
    padding: 0.5em;
  }
  .wiki dt {
    float: left;
    clear: left;
    width: 160px;
    text-align: right;
    font-weight: bold;
    color: green;
  }
  .wiki dt:after {
    content: ": ";
  }
  .wiki dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }

