@charset "UTF-8";
@media screen and (max-device-width: 640px) {
    /*
        Fjerner #sidebarmint box på mobile enheter som har
        en maks skjermbredde på 640px;
    */
    #mintboxdiv ul {
        width:150px;
    }

    #sidebarmint {
        display: none;
    }

    .container {
    padding: 20px;
    margin: auto;
    width: 90%;
    }

    #kilder {
        display: none;
    }
    video {
        width:300px;
    }
}

@media screen and (min-width: 641px) {
    /* Desktopspesifikk*/
    #kildermobil {
        display: none;
    }
        video {
        width:600px;
    }

}
@media screen and (max-width: 1199px) {
p, li {
    font-size: 1em;

}
}


/* CSS for sidebar/linker på høyre side */

#sidebarmint aside ul {
    list-style-type: none;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 5em;
    float: right;
    padding-right: 50px;
    padding-top: 10px;
    display: none;
}

#sidebarmint aside ul li a {
    display: inline-block;
    /*width: 60px;*/
    /*background-color: black;*/
    color: black;
    /*padding: 10px 50px;*/
    text-decoration: none;
    /*border-radius: 7px 7px 7px 7px;*/
}
/* fjerne hoover effekt fra style.css*/
#sidebarmint aside ul li a:hover {
    background: none;
    color: none;
}

#sidebarmint aside li {
    /*padding: 15px;*/
    list-style-type: none;
    text-align: center;
    margin-top: 23px;
}
/* CSS for mintbox */
#mintbox{
    display: inline-block;
    list-style:none;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border: 5px solid green;
    float:right;
    width: 260px;
    font-size: 80%;
    margin-top: 0em;
}


/* Overskrift på sidebar */

#linker {
    text-align: center;
    font-size: 118%;
    color: darkgreen;
    font-weight: bold;
}


/* CSS for header og Mintlogo */

main {
    color: green;
    padding: 40px;
    margin: auto;
    text-align: center;
    padding-bottom: 0px;
}

#startartikkel {
    margin-top: -2.2em;
}



/* CSS for class=mintarticle og kilder*/

.mintarticle {
    color: black;
    /*margin-right: 15px;*/
}
 .mintarticle li {
  font-size: 1em;
}

.mintarticle ul li {
    padding: 5px;
}

.mintarticle h3 {
    font-weight: bold;
    color: green;
    padding-top: 15px;
}

.horizontal {
    display: inline;
}

#mintsuksess {
    width: 80%;
}


/* Farger på linker */

.container a {
    color: green;
}

.container a:visited {
    color: coral;
}

/* Hoover på sidebar */
.btn {
  background: darkgreen;
  background-image: -webkit-linear-gradient(top, darkgreen, lightgreen);
  background-image: -moz-linear-gradient(top, darkgreen, lightgreen);
  background-image: -ms-linear-gradient(top, darkgreen, lightgreen);
  background-image: -o-linear-gradient(top, darkgreen, lightgreen);
  background-image: linear-gradient(to bottom, darkgreen, lightgreen);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: Black;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: green;
  background-image: -webkit-linear-gradient(top, green, white);
  background-image: -moz-linear-gradient(top, green, white);
  background-image: -ms-linear-gradient(top, green, white);
  background-image: -o-linear-gradient(top, green, white);
  background-image: linear-gradient(to bottom, green, white);
  text-decoration: none;
}