/*

    Top Banner logo section
*/

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
    
}

img {
    border: 0;
}

.logo {
    background: url("../img/header-bkg.jpg") repeat fixed center;
}

/*
	Font type og størrelse
*/

h1 {
    font-family: 'Economica', sans-serif;
    font-size: 200%;
    padding: 0px;
    margin: 0;
}

h2 {
    font-family: 'Economica', sans-serif;
}

h3 {
    font-family: 'Economica', sans-serif;
}

h4 {
    font-family: 'Economica', sans-serif;
}

p {
    font-family: 'Economica', sans-serif;
}

ul {
    font-family: 'Economica', sans-serif;
}


/*
    Centering banner logo
*/

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*
    Nav section
*/

nav {
    background: url("../img/header-bkg.jpg") repeat fixed center;
    text-align: center;
}

nav ul {
    display: inline-block;
    margin-bottom: 25px;
}

nav ul {
    display: inline-block;
    padding: 0;
    list-style: none;
    background: url("../img/header-bkg.jpg") repeat;
    text-align: center;
}

nav ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
}

nav ul li a {
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #70B955;
    background: url("../img/header-bkg.jpg") repeat fixed center;
}

nav ul li ul.dropdown {
    min-width: 206px;
    /* Bredde for dropdown */
    background: url("../img/header-bkg.jpg") repeat fixed center;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

nav ul li:hover ul.dropdown {
    display: block;
    /* Viser dropdown som block ved hover */
}

nav ul li ul.dropdown li {
    display: block;
}


/*
    CSS for sticky navbar
*/

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    opacity: 0.7;
}


/*.parallax{
   // width: 100%;
    //height: 200px;
    //background-color: azure;
}*/

.container {
    padding: 40px;
    margin: auto;
    width: 60%;
}


/*
    Footer section
*/

footer {
    
    background-color: black;
    color: aliceblue;
    opacity: 0.7;
    padding: 30px;
}

footer p {
    margin: auto;
    width: 70%;
    padding: 2px;
    text-align: center;
    color: 3B3B3E;
    font-size: 90%;
    text-align: center;
    font-family: 'Economica', sans-serif;
}

footer a {
    color: white;
    text-decoration: none;
}


/*EGEN CSS*/


#ubuntu img {
    margin-right: auto;
    margin-right: auto;
    position: center;
    padding-bottom: 50px;
}

#boks {
    list-style: none; 
    background-color: black;
    color: white;
    padding: 10px;
    margin-left:700px;
    float-right;
}

